{
  "openapi": "3.1.0",
  "info": {
    "title": "Digital Waste Tracking API",
    "version": "beta-2",
    "description": "Milestone `beta-2` of the waste-movement journey — creation, collection, delivery and receipt, with data validation. Payload fields are being added a resource at a time; each request schema shows what its endpoint carries so far."
  },
  "servers": [
    {
      "url": "https://waste-tracking.integration.api.defra.gov.uk/beta-2",
      "description": "Integration / ext-test (public)"
    }
  ],
  "security": [
    {
      "bearerAuth": [],
      "apiCode": []
    }
  ],
  "tags": [
    {
      "name": "Movement",
      "description": "Create and manage a waste movement record."
    },
    {
      "name": "Collection",
      "description": "Record a collection event — waste passing from a producer to a driver."
    },
    {
      "name": "Delivery",
      "description": "Record a delivery event, generating one or more Delivery IDs."
    },
    {
      "name": "Receipt",
      "description": "Record receipt of waste at a receiver site."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "AWS Cognito access token, obtained with the OAuth 2.0 client credentials grant (`POST {authBaseUrl}/oauth2/token` with your client ID and secret). Sent as `Authorization: Bearer <token>`."
      },
      "apiCode": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-code",
        "description": "The `apiCode` issued to your organisation, identifying who the submission is made on behalf of. Sent as a header rather than in the request body."
      }
    },
    "parameters": {
      "movementIdPath": {
        "name": "movementId",
        "in": "path",
        "required": true,
        "description": "Movement ID minted by `POST /movements`.",
        "schema": {
          "$ref": "#/components/schemas/movementId"
        },
        "example": "25HRA0B2"
      },
      "deliveryIdPath": {
        "name": "deliveryId",
        "in": "path",
        "required": true,
        "description": "Delivery ID minted by `POST /deliveries`.",
        "schema": {
          "$ref": "#/components/schemas/deliveryId"
        },
        "example": "25KMT4Z9"
      },
      "confirmWarningsHeader": {
        "name": "X-Confirm-Warnings",
        "in": "header",
        "required": false,
        "description": "Confirms the warnings returned by a previous `422` `confirmation-required` response. Send the `confirmationToken` from that response, unchanged, with the same request. A token that does not match the request is ignored.",
        "schema": {
          "type": "string"
        },
        "example": "eyJ2IjoxLCJwIjoiYTk0ZTc3…"
      }
    },
    "headers": {
      "RequestId": {
        "description": "Trace id for this request. Quote it to support if something goes wrong.",
        "required": true,
        "schema": {
          "type": "string",
          "example": "4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c"
        }
      }
    },
    "schemas": {
      "movementId": {
        "$ref": "./common/movement-id.schema.json"
      },
      "deliveryId": {
        "$ref": "./common/delivery-id.schema.json"
      },
      "createMovementRequest": {
        "$ref": "./creation/create-movement-request.schema.json"
      },
      "recordCollectionRequest": {
        "$ref": "./collection/create-collection-request.schema.json"
      },
      "recordDeliveryRequest": {
        "$ref": "./delivery/record-delivery-request.schema.json"
      },
      "recordReceiptRequest": {
        "$ref": "./receipt/record-receipt-request.schema.json"
      },
      "recordReceiptWithoutDeliveryRequest": {
        "$ref": "./receipt/record-receipt-without-delivery-request.schema.json"
      },
      "issue": {
        "$ref": "./common/issue.schema.json"
      },
      "problemDetails": {
        "type": "object",
        "description": "RFC 9457 Problem Details (`application/problem+json`).",
        "required": ["type", "title", "detail", "instance", "requestId"],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri",
            "description": "Stable URI identifying the problem kind.",
            "example": "https://defra.github.io/digital-waste-tracking-api-docs/preview/problems/bad-request"
          },
          "title": {
            "type": "string",
            "description": "Short, stable summary for this problem type.",
            "example": "Request validation failed"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable detail specific to this occurrence.",
            "example": "The request could not be stored because 1 field is invalid."
          },
          "instance": {
            "type": "string",
            "description": "The request path where the problem occurred.",
            "example": "/movements"
          },
          "requestId": {
            "type": "string",
            "description": "Trace id for this request, matching the `x-request-id` header."
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/issue"
            },
            "description": "Field-level errors that must be fixed. Present only when there is at least one; omitted otherwise."
          },
          "warnings": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/issue"
            },
            "description": "Data-quality warnings that can be fixed or confirmed. Present only when there is at least one; omitted otherwise. Always present on `confirmation-required`."
          },
          "confirmationToken": {
            "type": "string",
            "description": "Token that confirms the warnings in this response. Present only on `confirmation-required`. Send it back unchanged in the `X-Confirm-Warnings` header with the same request."
          }
        }
      },
      "createMovementResponse": {
        "$ref": "./creation/create-movement-response.schema.json"
      },
      "recordCollectionResponse": {
        "$ref": "./collection/create-collection-response.schema.json"
      },
      "deliveryResponse": {
        "$ref": "./delivery/record-delivery-response.schema.json"
      },
      "recordReceiptResponse": {
        "$ref": "./receipt/record-receipt-response.schema.json"
      },
      "recordReceiptWithoutDeliveryResponse": {
        "$ref": "./receipt/record-receipt-without-delivery-response.schema.json"
      }
    },
    "responses": {
      "400": {
        "description": "The request could not be stored (validation, format or state error). Fix the `errors`; any `warnings` found are listed too.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/problemDetails"
            }
          }
        }
      },
      "401": {
        "description": "Missing or invalid authentication.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/problemDetails"
            }
          }
        }
      },
      "422": {
        "description": "The request is valid but has warnings, so it was not stored. Fix the request, or send it again unchanged with the `confirmationToken` in the `X-Confirm-Warnings` header to store it as it is.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/problemDetails"
            },
            "example": {
              "type": "https://defra.github.io/digital-waste-tracking-api-docs/preview/problems/confirmation-required",
              "title": "Confirmation Required",
              "detail": "The receipt was not stored because 1 field has a warning. It can still be accepted: send the same request again with the confirmationToken in the X-Confirm-Warnings header to force it.",
              "instance": "/deliveries/25KMT4Z9/receipt",
              "requestId": "4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c",
              "confirmationToken": "eyJ2IjoxLCJwIjoiYTk0ZTc3…",
              "warnings": [
                {
                  "pointer": "/wasteItems/0/actualTreatments/0/disposalOrRecoveryCode",
                  "errorType": "NotProvided",
                  "message": "Recording the actual treatment applied is a legal requirement. Supply the code, or confirm to record this receipt without it."
                }
              ]
            }
          }
        }
      },
      "500": {
        "description": "Unexpected server error.",
        "headers": {
          "x-request-id": {
            "$ref": "#/components/headers/RequestId"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/problemDetails"
            }
          }
        }
      }
    }
  },
  "paths": {
    "/movements": {
      "post": {
        "tags": ["Movement"],
        "summary": "Create a waste movement",
        "description": "Creates a new waste movement and returns its Movement ID.",
        "operationId": "createMovement",
        "parameters": [
          {
            "$ref": "#/components/parameters/confirmWarningsHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/createMovementRequest"
              },
              "examples": {
                "commercial": {
                  "$ref": "./creation/create-movement-request.examples.json#/commercial"
                },
                "household": {
                  "$ref": "./creation/create-movement-request.examples.json#/household"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Movement created. Body carries the new Movement ID.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/createMovementResponse"
                },
                "examples": {
                  "commercial": {
                    "$ref": "./creation/create-movement-response.examples.json#/commercial"
                  },
                  "household": {
                    "$ref": "./creation/create-movement-response.examples.json#/household"
                  }
                }
              }
            },
            "links": {
              "RecordCollection": {
                "operationId": "recordCollection",
                "description": "The returned `movementId` identifies the movement whose collection is recorded.",
                "parameters": {
                  "movementId": "$response.body#/data/movementId"
                }
              },
              "RecordDelivery": {
                "operationId": "recordDelivery",
                "description": "The returned `movementId` can be included in the `movementIds` of a delivery.",
                "requestBody": {
                  "movementIds": ["$response.body#/data/movementId"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/movements/{movementId}/collection": {
      "parameters": [
        {
          "$ref": "#/components/parameters/movementIdPath"
        }
      ],
      "post": {
        "tags": ["Collection"],
        "summary": "Record the collection for a movement",
        "description": "Records a collection event for the given movement.",
        "operationId": "recordCollection",
        "parameters": [
          {
            "$ref": "#/components/parameters/confirmWarningsHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordCollectionRequest"
              },
              "examples": {
                "withBrokerAndReferences": {
                  "$ref": "./collection/create-collection-request.examples.json#/withBrokerAndReferences"
                },
                "minimal": {
                  "$ref": "./collection/create-collection-request.examples.json#/minimal"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Collection recorded.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordCollectionResponse"
                },
                "examples": {
                  "withBrokerAndReferences": {
                    "$ref": "./collection/create-collection-response.examples.json#/withBrokerAndReferences"
                  },
                  "minimal": {
                    "$ref": "./collection/create-collection-response.examples.json#/minimal"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Movement not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/problemDetails"
                },
                "example": {
                  "type": "https://waste-tracking.service.gov.uk/problems/movement-not-found",
                  "title": "Waste movement not found",
                  "detail": "No waste movement exists with this Movement ID.",
                  "instance": "/movements/25HRA0B2/collection",
                  "requestId": "4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/deliveries": {
      "post": {
        "tags": ["Delivery"],
        "summary": "Record a delivery",
        "description": "Records a delivery event and returns one Delivery ID per distinct waste type among the submitted Movements.",
        "operationId": "recordDelivery",
        "parameters": [
          {
            "$ref": "#/components/parameters/confirmWarningsHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordDeliveryRequest"
              },
              "examples": {
                "twoMovements": {
                  "$ref": "./delivery/record-delivery-request.examples.json#/twoMovements"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Delivery recorded. Body carries a list of the new Delivery(ies) — one per distinct waste type.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deliveryResponse"
                },
                "examples": {
                  "twoMovements": {
                    "$ref": "./delivery/record-delivery-response.examples.json#/twoMovements"
                  }
                }
              }
            },
            "links": {
              "RecordReceipt": {
                "operationId": "recordReceipt",
                "description": "Each returned `deliveryId` identifies a delivery whose receipt is recorded.",
                "parameters": {
                  "deliveryId": "$response.body#/data/deliveries/0/deliveryId"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/receipts": {
      "post": {
        "tags": ["Receipt"],
        "summary": "Record receipt of waste without a Delivery ID",
        "description": "Fallback for recording receipt with no prior Delivery, e.g. waste received with no movement trail. Not linked to any Movement; `reason` must explain why. The server creates an empty Delivery behind the scenes and returns its `deliveryId`, so the receipt stays addressable.",
        "operationId": "recordReceiptWithoutDelivery",
        "parameters": [
          {
            "$ref": "#/components/parameters/confirmWarningsHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordReceiptWithoutDeliveryRequest"
              },
              "examples": {
                "withReason": {
                  "$ref": "./receipt/record-receipt-without-delivery-request.examples.json#/withReason"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Receipt recorded against a server-created empty Delivery. Body carries the new Delivery ID.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordReceiptWithoutDeliveryResponse"
                },
                "examples": {
                  "withReason": {
                    "$ref": "./receipt/record-receipt-without-delivery-response.examples.json#/withReason"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    },
    "/deliveries/{deliveryId}/receipt": {
      "parameters": [
        {
          "$ref": "#/components/parameters/deliveryIdPath"
        }
      ],
      "post": {
        "tags": ["Receipt"],
        "summary": "Record receipt of waste against a delivery",
        "description": "Records receipt of the waste delivered under the given delivery.",
        "operationId": "recordReceipt",
        "parameters": [
          {
            "$ref": "#/components/parameters/confirmWarningsHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/recordReceiptRequest"
              },
              "examples": {
                "withBrokerAndReferences": {
                  "$ref": "./receipt/record-receipt-request.examples.json#/withBrokerAndReferences"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Receipt recorded against the delivery. Body carries the Delivery ID.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/recordReceiptResponse"
                },
                "examples": {
                  "withBrokerAndReferences": {
                    "$ref": "./receipt/record-receipt-response.examples.json#/withBrokerAndReferences"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400"
          },
          "401": {
            "$ref": "#/components/responses/401"
          },
          "404": {
            "description": "Delivery not found.",
            "headers": {
              "x-request-id": {
                "$ref": "#/components/headers/RequestId"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/problemDetails"
                },
                "example": {
                  "type": "https://waste-tracking.service.gov.uk/problems/delivery-not-found",
                  "title": "Delivery not found",
                  "detail": "No delivery exists with this Delivery ID.",
                  "instance": "/deliveries/25KMT4Z9/receipt",
                  "requestId": "4c6f9e1a-8f2b-4e3d-9a1c-2b7d5e6f0a3c"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/422"
          },
          "500": {
            "$ref": "#/components/responses/500"
          }
        }
      }
    }
  }
}
